#diagonal {
  background: linear-gradient(160deg, #4a139c 50%, #f3f4f6 50%);
  height: 700px; 
  width: 100%;
  position: relative;
}
.icon-container {
  display: flex;
  align-items: center;
  cursor: inherit; /* hover */
  transition: transform 0.8s ease; /* Smooth transition using ease */
}
.icon-container:hover .spin-icon {
  transform: rotate(360deg); /* spin at hover*/
}
.spin-icon {
  transition: transform 0.8s ease; /*speed of rotation */
}